<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 7.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-7.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

        <property name="hibernate.connection.url">jdbc:postgresql://dpg-d2s6vsre5dus73dbquug-a.oregon-postgres.render.com/student_data_rlhu</property>

        <property name="hibernate.connection.username">student_data_rlhu_user</property>
        <property name="hibernate.connection.password">kootVenHdnC6iZZ2IHzMFwJ56bWllbEZ</property>

        <property name="hibernate.connection.pool_size">5</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <property name="hibernate.show_sql">true</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="com.indra.Student"/>
    </session-factory>
</hibernate-configuration>